nav {
    font: 13px Arial, "sans-serif";
}
body {
  display: block;
  padding-top: 1px;
  margin-top: -1px;
}
.navleft1 {
    float: left;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }
.navleft1 a {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}  
.navleft2 {
    float: left;
    padding: 5px;
    margin-top: 10px;
  }
.navleft2 a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
  }  
.navright1 {
  float: right;
  padding: 5px;
  margin-top: 10px;
  }
.navright1 a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
  }  
.navright2 {
    float: right;
    padding: 5px;
    margin-top: 10px;
  }
.navright2 a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
  }  
.navright3 {
    float: right;
    padding: 5px;
    margin-top: 10px;
  }
.navright3 a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
  }  
  .navright4 {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
  }
.navright1 a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
  }  
.profimg {
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
.googlesuite {
    margin-top: 10%;
}
  .google {
    float: none;
    margin: auto;
    max-width: 300px;
  }
.googleimg {
    display: block;
    text-align: center;
    margin: auto;
}
.searchbar {
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    top: -30px;
    max-width: 300px;
}
#searchbar {
    color: black;
    opacity: .75;
    border: 1px solid gainsboro;
    border-radius: 30px;
    font: 13px Arial, "sans-serif";
    width: 300px !important;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35%;
  margin: auto;
  max-width: 300px;
}
.googlebutton1 {
  margin: auto;
}
.button1 {
    height: 35px;
    width: 142px;
    border-radius: 12px;
}
.button1:hover {
    cursor: pointer;
    background-color: grey;
}
.googlebutton2 {
  margin: auto;
}
.button2 {
    height: 35px;
    width: 142px;
    border-radius: 12px;
}
.button2:hover {
    cursor: pointer;
    background-color: grey;
}